<%= image_tag(@portfolio_item.main_image) %>

<h1><%= @portfolio_item.title %></h1>

<p><%= @portfolio_item.subtitle %></p>

<p><%= @portfolio_item.body %></p>

<%= @portfolio_item.technologies.each do |t| %>
  <p>t.name</p>
<% end %>
